TodoList/Application/Application.Services/bin/Debug/net6.0/Application.Services.deps.json
TodoList/Application/Application.Services/bin/Debug/net6.0/Application.Services.dll
TodoList/Application/Application.Services/bin/Debug/net6.0/Application.Services.pdb
TodoList/Application/Application.Services/obj/Application.Services.csproj.nuget.dgspec.json
TodoList/Application/Application.Services/obj/Application.Services.csproj.nuget.g.targets
TodoList/Application/Application.Services/obj/project.assets.json
TodoList/Application/Application.Services/obj/project.nuget.cache
TodoList/Application/Application.Services/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.AssemblyInfo.cs
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.assets.cache
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.csproj.AssemblyReference.cache
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.csproj.BuildWithSkipAnalyzers
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.csproj.CoreCompileInputs.cache
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.dll
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.pdb
TodoList/Application/Application.Services/obj/Debug/net6.0/ref/Application.Services.dll
TodoList/Application/Application.Services/obj/Debug/net6.0/refint/Application.Services.dll
TodoList/Application/Application.Services.Modules/obj/Application.Services.Modules.csproj.nuget.dgspec.json
TodoList/Application/Application.Services.Modules/obj/Application.Services.Modules.csproj.nuget.g.props
TodoList/Application/Application.Services.Modules/obj/Application.Services.Modules.csproj.nuget.g.targets
TodoList/Application/Application.Services.Modules/obj/project.assets.json
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.AssemblyInfo.cs
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.AssemblyInfoInputs.cache
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.assets.cache
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.csproj.AssemblyReference.cache
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.csproj.BuildWithSkipAnalyzers
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.csproj.FileListAbsolute.txt
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Application.Services.Modules/obj/Debug/net6.0/Application.Services.Modules.GlobalUsings.g.cs
TodoList/Application/Core/obj/Core.csproj.nuget.dgspec.json
TodoList/Application/Core/obj/project.assets.json
TodoList/Application/Core/obj/project.nuget.cache
TodoList/Application/Core/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/Core/obj/Debug/net6.0/Core.assets.cache
TodoList/Application/Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Domain/bin/Debug/net6.0/Core.dll
TodoList/Application/Domain/bin/Debug/net6.0/Core.pdb
TodoList/Application/Domain/bin/Debug/net6.0/Domain.deps.json
TodoList/Application/Domain/bin/Debug/net6.0/Domain.dll
TodoList/Application/Domain/bin/Debug/net6.0/Domain.pdb
TodoList/Application/Domain/obj/Domain.csproj.nuget.dgspec.json
TodoList/Application/Domain/obj/project.assets.json
TodoList/Application/Domain/obj/project.nuget.cache
TodoList/Application/Domain/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/Domain/obj/Debug/net6.0/Domain.AssemblyInfo.cs
TodoList/Application/Domain/obj/Debug/net6.0/Domain.AssemblyInfoInputs.cache
TodoList/Application/Domain/obj/Debug/net6.0/Domain.assets.cache
TodoList/Application/Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
TodoList/Application/Domain/obj/Debug/net6.0/Domain.csproj.BuildWithSkipAnalyzers
TodoList/Application/Domain/obj/Debug/net6.0/Domain.csproj.CopyComplete
TodoList/Application/Domain/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
TodoList/Application/Domain/obj/Debug/net6.0/Domain.dll
TodoList/Application/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Domain/obj/Debug/net6.0/Domain.pdb
TodoList/Application/Domain/obj/Debug/net6.0/ref/Domain.dll
TodoList/Application/Domain/obj/Debug/net6.0/refint/Domain.dll
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Core.dll
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Core.pdb
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Domain.dll
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Domain.pdb
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Infrastructure.Persistence.Core.dll
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Infrastructure.Persistence.Core.pdb
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Infrastructure.Persistence.deps.json
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Infrastructure.Persistence.dll
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Infrastructure.Persistence.pdb
TodoList/Application/Infrastructure.Persistence/bin/Debug/net6.0/Infrastructure.Persistence.runtimeconfig.json
TodoList/Application/Infrastructure.Persistence/obj/Infrastructure.Persistence.csproj.nuget.dgspec.json
TodoList/Application/Infrastructure.Persistence/obj/project.assets.json
TodoList/Application/Infrastructure.Persistence/obj/project.nuget.cache
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.AssemblyInfo.cs
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.assets.cache
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.csproj.AssemblyReference.cache
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.csproj.BuildWithSkipAnalyzers
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.csproj.CopyComplete
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.csproj.CoreCompileInputs.cache
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.dll
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.genruntimeconfig.cache
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.pdb
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/ref/Infrastructure.Persistence.dll
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/refint/Infrastructure.Persistence.dll
TodoList/Application/Persistence.Core/bin/Debug/net6.0/Core.dll
TodoList/Application/Persistence.Core/bin/Debug/net6.0/Core.pdb
TodoList/Application/Persistence.Core/bin/Debug/net6.0/Infrastructure.Persistence.Core.deps.json
TodoList/Application/Persistence.Core/bin/Debug/net6.0/Infrastructure.Persistence.Core.dll
TodoList/Application/Persistence.Core/bin/Debug/net6.0/Infrastructure.Persistence.Core.pdb
TodoList/Application/Persistence.Core/obj/Infrastructure.Persistence.Core.csproj.nuget.dgspec.json
TodoList/Application/Persistence.Core/obj/project.assets.json
TodoList/Application/Persistence.Core/obj/project.nuget.cache
TodoList/Application/Persistence.Core/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.AssemblyInfo.cs
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.assets.cache
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.csproj.AssemblyReference.cache
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.csproj.BuildWithSkipAnalyzers
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.csproj.CopyComplete
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.csproj.CoreCompileInputs.cache
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.dll
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.pdb
TodoList/Application/Persistence.Core/obj/Debug/net6.0/ref/Infrastructure.Persistence.Core.dll
TodoList/Application/Persistence.Core/obj/Debug/net6.0/refint/Infrastructure.Persistence.Core.dll
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Core.dll
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Core.pdb
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Domain.dll
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Domain.pdb
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Infrastructure.Persistence.Core.dll
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Infrastructure.Persistence.Core.pdb
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Query.interfaces.deps.json
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Query.interfaces.dll
TodoList/Application/Query.interfaces/bin/Debug/net6.0/Query.interfaces.pdb
TodoList/Application/Query.interfaces/obj/project.assets.json
TodoList/Application/Query.interfaces/obj/project.nuget.cache
TodoList/Application/Query.interfaces/obj/Query.interfaces.csproj.nuget.dgspec.json
TodoList/Application/Query.interfaces/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.AssemblyInfo.cs
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.assets.cache
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.csproj.AssemblyReference.cache
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.csproj.BuildWithSkipAnalyzers
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.csproj.CopyComplete
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.csproj.CoreCompileInputs.cache
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.dll
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.pdb
TodoList/Application/Query.interfaces/obj/Debug/net6.0/ref/Query.interfaces.dll
TodoList/Application/Query.interfaces/obj/Debug/net6.0/refint/Query.interfaces.dll
TodoList/Application/Query.Services/bin/Debug/net6.0/Core.dll
TodoList/Application/Query.Services/bin/Debug/net6.0/Core.pdb
TodoList/Application/Query.Services/bin/Debug/net6.0/Domain.dll
TodoList/Application/Query.Services/bin/Debug/net6.0/Domain.pdb
TodoList/Application/Query.Services/bin/Debug/net6.0/Infrastructure.Persistence.Core.dll
TodoList/Application/Query.Services/bin/Debug/net6.0/Infrastructure.Persistence.Core.pdb
TodoList/Application/Query.Services/bin/Debug/net6.0/Infrastructure.Persistence.dll
TodoList/Application/Query.Services/bin/Debug/net6.0/Infrastructure.Persistence.pdb
TodoList/Application/Query.Services/bin/Debug/net6.0/Query.interfaces.dll
TodoList/Application/Query.Services/bin/Debug/net6.0/Query.interfaces.pdb
TodoList/Application/Query.Services/bin/Debug/net6.0/Query.Services.deps.json
TodoList/Application/Query.Services/bin/Debug/net6.0/Query.Services.dll
TodoList/Application/Query.Services/bin/Debug/net6.0/Query.Services.pdb
TodoList/Application/Query.Services/obj/project.assets.json
TodoList/Application/Query.Services/obj/project.nuget.cache
TodoList/Application/Query.Services/obj/Query.Services.csproj.nuget.dgspec.json
TodoList/Application/Query.Services/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.AssemblyInfo.cs
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.assets.cache
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.csproj.AssemblyReference.cache
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.csproj.BuildWithSkipAnalyzers
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.csproj.CopyComplete
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.csproj.CoreCompileInputs.cache
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.dll
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.pdb
TodoList/Application/Query.Services/obj/Debug/net6.0/ref/Query.Services.dll
TodoList/Application/Query.Services/obj/Debug/net6.0/refint/Query.Services.dll
TodoList/Application/TodoListApi/.vs/ProjectEvaluation/todolistapi.metadata.v5.1
TodoList/Application/TodoListApi/.vs/ProjectEvaluation/todolistapi.projects.v5.1
TodoList/Application/TodoListApi/.vs/TodoListApi/DesignTimeBuild/.dtbcache.v2
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/1e4a133d-fb4f-4177-a874-699d2e6697d9.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/5bf691bb-ec56-4684-8947-b7f3b8dc511e.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/20aa59cb-902a-4f58-9f0a-3c36b1a06c23.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/51c29c5d-80d6-4c9f-b442-b6c4bfd67960.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/93bc6aad-20dd-433e-9003-1b1742bb812b.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/96f5b8de-7abb-4892-a74f-5780af545f07.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/f180d5e8-6123-4f1d-a4f6-c74226986266.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/FileContentIndex/fe340ca7-b83d-49d8-b45e-a62958546790.vsidx
TodoList/Application/TodoListApi/.vs/TodoListApi/v17/.futdcache.v2
TodoList/Application/TodoListApi/.vs/TodoListApi/v17/.suo
TodoList/Application/TodoListApi/bin/Debug/net6.0/Application.Services.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Application.Services.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/appsettings.Development.json
TodoList/Application/TodoListApi/bin/Debug/net6.0/appsettings.json
TodoList/Application/TodoListApi/bin/Debug/net6.0/Autofac.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Autofac.Extensions.DependencyInjection.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/CairoSharp.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Core.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Core.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/DevExpress.CrossPlatform.Printing.DrawingEngine.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Domain.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Domain.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/FluentValidation.DependencyInjectionExtensions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/FluentValidation.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/GLibSharp.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Humanizer.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Infrastructure.Persistence.Core.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Infrastructure.Persistence.Core.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/Infrastructure.Persistence.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Infrastructure.Persistence.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/MediatR.Contracts.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/MediatR.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Identity.Client.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Npgsql.Bulk.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Npgsql.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/PangoSharp.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Query.interfaces.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Query.interfaces.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/Query.Services.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Query.Services.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.AspNetCore.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Enrichers.CorrelationId.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Extensions.Hosting.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Extensions.Logging.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Formatting.Compact.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Formatting.Elasticsearch.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Settings.Configuration.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Sinks.Console.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Sinks.Debug.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Serilog.Sinks.File.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Drawing.Common.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Runtime.Caching.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Security.Permissions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Text.Encodings.Web.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Text.Json.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/System.Windows.Extensions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/TodoListApi.deps.json
TodoList/Application/TodoListApi/bin/Debug/net6.0/TodoListApi.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/TodoListApi.exe
TodoList/Application/TodoListApi/bin/Debug/net6.0/TodoListApi.pdb
TodoList/Application/TodoListApi/bin/Debug/net6.0/TodoListApi.runtimeconfig.json
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
TodoList/Application/TodoListApi/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
TodoList/Application/TodoListApi/obj/project.assets.json
TodoList/Application/TodoListApi/obj/project.nuget.cache
TodoList/Application/TodoListApi/obj/staticwebassets.pack.sentinel
TodoList/Application/TodoListApi/obj/TodoListApi.csproj.nuget.dgspec.json
TodoList/Application/TodoListApi/obj/TodoListApi.csproj.nuget.g.targets
TodoList/Application/TodoListApi/obj/Debug/net6.0/_IsIncrementalBuild
TodoList/Application/TodoListApi/obj/Debug/net6.0/staticwebassets.build.json
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.AssemblyInfo.cs
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.assets.cache
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.csproj.AssemblyReference.cache
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.csproj.CopyComplete
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.csproj.CoreCompileInputs.cache
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.dll
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.genruntimeconfig.cache
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.MvcApplicationPartsAssemblyInfo.cache
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.MvcApplicationPartsAssemblyInfo.cs
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.pdb
TodoList/Application/TodoListApi/obj/Debug/net6.0/ref/TodoListApi.dll
TodoList/Application/TodoListApi/obj/Debug/net6.0/refint/TodoListApi.dll
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.assets.cache
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.csproj.AssemblyReference.cache
TodoList/Application/Application.Services/obj/Debug/net6.0/Application.Services.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Core/obj/Debug/net6.0/Core.assets.cache
TodoList/Application/Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Domain/obj/Debug/net6.0/Domain.AssemblyInfo.cs
TodoList/Application/Domain/obj/Debug/net6.0/Domain.assets.cache
TodoList/Application/Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
TodoList/Application/Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.assets.cache
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.csproj.AssemblyReference.cache
TodoList/Application/Infrastructure.Persistence/obj/Debug/net6.0/Infrastructure.Persistence.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.assets.cache
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.csproj.AssemblyReference.cache
TodoList/Application/Persistence.Core/obj/Debug/net6.0/Infrastructure.Persistence.Core.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.assets.cache
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.csproj.AssemblyReference.cache
TodoList/Application/Query.interfaces/obj/Debug/net6.0/Query.interfaces.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.assets.cache
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.csproj.AssemblyReference.cache
TodoList/Application/Query.Services/obj/Debug/net6.0/Query.Services.GeneratedMSBuildEditorConfig.editorconfig
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.assets.cache
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.csproj.AssemblyReference.cache
TodoList/Application/TodoListApi/obj/Debug/net6.0/TodoListApi.GeneratedMSBuildEditorConfig.editorconfig
